@import "../../../../styles/mixins";

.searchField{
    width: 100%;
    position: relative;
    & input {
        @include DescriptionText;
        color: #FAF6F2;
        height: 44px;
        width: 100%;
        max-width: 418px;
        padding: 10px 54px;
        background: inherit;
        border: 1px solid #524336;
        outline: none;
        transition: 0.4s;
        &:hover{
            border: 1px solid #BB8C5F;
            transition: 0.4s;
        }
    }
    & button {
        position: absolute;
        top: calc(50% - 8.5px);
        left: 5%;
        cursor: pointer;
        border: none;
        background: inherit;
        & img{
            height: 17px;
            width: 17px;
        }
    }
}